---
import { Phone, Box, Wrench } from "@/components/svgs/config"
import { getBanners, getHomeConfig } from "../services"
import { CImage, CLink } from "@/components/ui"

const banners = await getBanners()
const homeConfig = await getHomeConfig()
const benefits = homeConfig?.home.service_benefits || []

const iconMap = [Phone, Box, Wrench]
---

<section class="relative overflow-hidden">
  <div class="swiper home-banner-slider">
    <div class="swiper-wrapper">
      {
        banners.map((item) => (
          <div class="swiper-slide">
            <CLink href={item.link || "#"} class="c-img h-[80dvh]">
              <CImage src={item.image} alt={item.title} />
            </CLink>
          </div>
        ))
      }
    </div>
  </div>

  <div
    class="bg-[#101D25] lg:absolute lg:inset-x-0 lg:bottom-0 lg:z-1 lg:bg-[#101D25]/50 py-6 lg:py-5 backdrop-blur-md border-t border-white/5"
  >
    <div class="container flex justify-between gap-6 lg:gap-4 max-lg:flex-col">
      {
        benefits.map((benefit, index) => {
          const Icon = iconMap[index] || Phone
          return (
            <>
              {index > 0 && (
                <div class="w-full max-lg:h-px lg:w-px bg-white/10 mx-auto shrink-0" />
              )}
              <div class="flex gap-3 items-center max-lg:px-2">
                <div class="size-11 rounded-full border-2 border-secondary bg-white/10 flex items-center justify-center shrink-0">
                  <Icon class="text-secondary w-5 h-5" />
                </div>
                <div class="flex-1 text-white">
                  <p class="text-base lg:text-[1.125rem] font-bold uppercase tracking-wide">
                    {benefit.title}
                  </p>
                  <p class="text-xs text-white/80 mt-0.5">
                    {benefit.description}
                  </p>
                </div>
              </div>
            </>
          )
        })
      }
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper"
  import { Autoplay, EffectFade } from "swiper/modules"
  import "swiper/css"
  import "swiper/css/effect-fade"

  var slideHomeBanner = function () {
    var bannerSlider = document.querySelector(
      ".home-banner-slider"
    ) as HTMLElement
    if (!bannerSlider) return false

    new Swiper(bannerSlider, {
      modules: [Autoplay, EffectFade],
      slidesPerView: 1,
      loop: true,
      effect: "fade",
      autoplay: {
        delay: 4500,
        disableOnInteraction: false,
      },
      speed: 900,
    })
  }

  // Khởi chạy khi tài liệu đã sẵn sàng
  document.addEventListener("DOMContentLoaded", slideHomeBanner)
  // Hỗ trợ Astro View Transitions nếu có dùng
  document.addEventListener("astro:page-load", slideHomeBanner)
</script>
