---
import { getHomeConfig } from "../services"
import { CImage, CLink } from "@/components/ui"

const homeConfig = await getHomeConfig()
const about = homeConfig?.home.about
---

<section class="overflow-hidden mt-10 -mb-10">
  <div class="container flex flex-wrap">
    <div class="w-full lg:w-1/2 self-center pb-15">
      <h2 class="title-head mb-4">{about?.title}</h2>
      <div class="s-content mb-4" set:html={about?.content} />
      <CLink href={about?.button.link || "#"} class="btn">
        {about?.button.text}
      </CLink>
    </div>
    <div class="w-full lg:w-1/2">
      <div class="img__contain w-full lg:w-[50vw] max-w-240">
        <CImage src={about?.image} alt="" />
      </div>
    </div>
  </div>
</section>
