---
import { Phone } from "@/components/svgs/config"
---

<a
  href="tel:0989846666"
  class="flex items-center gap-1 py-2 ml-5 text-white font-bold px-4 bg-secondary hover:bg-secondary/90 shrink-0"
>
  <Phone class="size-5 shrink-0" />
  <span>0989.84.6666</span>
</a>
