---
// FooterCopyright.astro
interface Props {
  copyright?: string
}

const { copyright } = Astro.props
const copyrightText = copyright || `Copyright © ${new Date().getFullYear()} LuxiArc. All Rights Reserved.`
---

<div
  class="bg-[linear-gradient(270deg,#DFC976_0%,#A37A48_19.71%,#DFC976_46.15%,#A37A48_76.92%,#DFC976_100%)] py-3 text-[#213A4A] text-center"
>
  <p>
    {copyrightText}
  </p>
</div>
