---
// FooterLinks.astro
import { CLink } from "@/components/ui"

interface Props {
  title?: string
  links: string[]
}

const { title = "LIÊN KẾT", links } = Astro.props
---

<div class="text-white">
  <p class="font-semibold text-[1.25rem] uppercase mb-4">
    {title}
  </p>
  <ul class="space-y-3">
    {
      links.map((link) => (
        <li>
          <CLink href="#" class="block hover:text-secondary">
            {link}
          </CLink>
        </li>
      ))
    }
  </ul>
</div>
