---
import type { NewsItem } from "../types"
import NewsCard from "./NewsCard.astro"

interface Props {
  items: NewsItem[]
}

const { items } = Astro.props
---

{
  items.length > 0 ? (
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-10">
      {items.map((item) => (
        <NewsCard item={item} />
      ))}
    </div>
  ) : (
    <div class="text-center py-12 text-[#8C8C8C]">
      Chưa có bài viết nào trong mục này.
    </div>
  )
}
